.event {
  display: flex;
  margin: 2rem 0;
}

.event:hover {
  transform: scale(1.1)
}

.event-info {
  background: #F7F7F7;
  width: 35rem;
  padding: 2rem;
  font-family: 'Dosis', sans-serif;
  color: #292b2d;
}

.event-info h2 {
  font-family: 'Nothing You Could Do', cursive;
}

.event-img {
  width: 20rem;
  height: 100%;
}

.event-img img {
  width: 100%;
  height: auto;
}

.cat-price-loc {
  display: flex;
}

.category {
  border-bottom: 2px solid #c2d8fc;
  margin-right: 2rem;
}

.price {
  font-weight: bolder;
}

.location {
  margin-left: 2rem;
}

.description {
  display: flex;
  margin-bottom: 2rem;
}

.what-is-it {
  min-width: 5rem;
  font-style: italic;
}

.event a {
  text-decoration: none;
  color: #292b2d;
  padding: 0.4rem;
  background-color: white;
}

a:hover {
  background: #F7F7F7;
}
