.available {
  background: #78c194;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.available:hover {
  background-color: white
}

.not-available:hover {
  background-color: white
}

.not-available {
  background-color: #f76656;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  margin: 1rem;
  width: 28rem;
  font-family: 'Dosis', sans-serif;
  border-radius: 25px;
  box-shadow: 0 0 5px #86b0f4;
  border: 1px solid #86b0f4;
}

.calendar-header {
  background: #c2d8fc;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
}

.calendar-month {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 2.3rem;
}

.week-days {
  display: flex;
}

.week-day {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.day {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day:hover {
  background: #c2d8fc;
}



.main-body {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.chat {
  background: #F7F7F7;
  margin: 1rem;
  width: 28rem;
  font-family: 'Dosis', sans-serif;
  border-radius: 25px;
  box-shadow: 0 0 5px #F7F7F7;
  border: 1px solid #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-info {
  color: #86b0f4;
  text-align: center;
}

.chat h1 {
  text-align: center;
  color: black;
}

.chat #group_posts {
  height: 17rem;
  overflow: scroll;
}

.post {
  padding: 0.5rem;
  margin: 0.2rem 0.5rem;
  background: white;
}

#post_form {
  background: white;
  height: 5rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
}

#post_content {
  width: 100%;
  border: none;
  resize: none;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem
}

.post-submit input[type='submit']{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 12rem;
  padding: 3%;
  background: #86b0f4;
  border: none;
  border-radius: 25px;
  color: white;
  margin: 0.5rem 1.5rem;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem
}

.post-submit input[type='submit']:hover {
  background: #c2d8fc;
}
